# registry=https://registry.npmjs.org/
# fetch-retries=5
# fetch-retry-factor=2
# fetch-retry-mintimeout=20000
# fetch-retry-maxtimeout=120000
# network-concurrency=1
# strict-ssl=false# Create .npmrc file
@'
package-lock=true
legacy-peer-deps=true
'@ | Out-File -FilePath .npmrc -Encoding UTF8